{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    "@MorpheApp/changelog",
    "gradle-semantic-release-plugin",
    "@semantic-release/exec",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}